.service-container{
    background-color: #F6F6F6;
}
.card{
    border:none
}

.service-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border:1px solid #dddd;
}
